@{
    ViewBag.Title = "Upload";
}

@if(TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="width: 100%; text-align: center">@TempData["Error"]</span>
        </button>
    </div>
}

@if(TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["Success"]</strong>
    </div>
}

@using(Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="jumbotron">
        <form id="customForm" class="text-center p-5 col-sm-8">
            <input type="file" name="models" accept=".xml" multiple /> <br />
            <input type="text" name="filePath" value="C:\Users\PC\Desktop\" /> <br />
            <br>
            <input type="submit" value="Submit" class="btn btn-warning waves-effect center-block" />
        </form>
    </div>
}


